<!DOCTYPE html>
<html>
<head>
    <title>Поверка водосчётчика в Москве и области за 500 рублей</title>
    <meta charset="utf-8">
    <meta name="og:title" content="Поверка водосчётчика в Москве и области за 500 рублей">
    <meta name="og:description" content="Поверка счетчиков воды на дому без снятия прибора. Аккредитованная организация, внесение данных в Аршин при Вас. Оперативная работа инженера-метролога. Выгодная цена - успейте!">
    <meta name="og:url" content="https://sale.is-mos.ru/">
    <meta name="og:type" content="article">
    <meta name="og:image" content="https://sale.is-mos.ru/images/yootheme/metrology.jpeg">
    <meta name="og:site_name" content="Поверка счетчиков воды в Москве">
    <meta name="description" content="Поверка счетчиков воды на дому без снятия прибора. Аккредитованная организация, внесение данных в Аршин при Вас. Оперативная работа инженера-метролога. Выгодная цена - успейте!">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <link rel="icon" type="image/ico" href="./src/assets/icon/icon.svg">
    <link rel="stylesheet" href="./src/css/mobileScreen.css">
</head>
<body>
<!-- quasar:entry-point -->
</body>
</html>
